name: Bump Version (dev)

on:
  push:
    branches:
      - dev

jobs:
  build:

    name: Bump version
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: |
        pip install bump-my-version
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"

    - name: Bump version (build)
      shell: bash
      run: |
        bump-my-version bump pre_n
        git push --tags

    # - name: Commit files
    #   uses: stefanzweifel/git-auto-commit-action@v4
    #   with:
    #     commit_message: Bump version number (build part)
    #     commit_author: Author <actions@github.com>
